body{
	/*background-image es para imagen fondo*/
	background-image:url("../imagenes/fondo.jpg");
	/*font family es para la tipógrafia de la letra*/
	font-family:fuente-BONITA;
	/*font-size es para el tamaño de la letra en pixeles*/
	font-size:40px;
	/*color es para el color de las letras*/
	color:#17202A;
	/*text-align es para alinear el texto*/
	text-align:center;
	/* es para letras negritas*/
	font-weight:bold;
}
hr{
	border:3px solid #52BE80;
	width:80%;
	border-radius:5px
}
	p{
     font-size:30px;
	 text-align:justify;
	 line-height:1.5;
	 letter-spacing:2px;
	 
		
	}
	table,tr,td{
		border:1px solid #EAFAF1;
	border-spacing:0px;
	 background-color:green;
	 text-align:center;
	 font-size:20px;
	}
		/*clases*/
	.pie{  
	 text-align:center;
	 font-size:15px;
	 font-weight:bold;
	 background-color:#D9ACF7;
	 background-image:linear-gradient(#D6EAF8,#D1F2EB);
	 font-family:fuente-BONITA;
	}
	.sub{  
	 text-align:center;
	 font-weight:bold;
	 height:75px;
	 background-color:#D9ACF7;
	 background-image:linear-gradient(#D6EAF8,#D1F2EB);
	 font-family:fuente-BONITA;
	
	}
	.titulo{
		text-align:center;
		font-size:35px;
		font-weight:bold;
	}
 /*carrusel de imagenes */
 .carrousel{ 
 width:600px;
 margin:auto;
 box-sizing:border-box;
}
.contecarrousel{
	width:100%;
	height:400px;
	Overflow:hidden;
	box-sizing:border-box;
}
.itemcarrousel{ 
 position:relative;
 width:100%;
 height:100%;
 box-sizing:border-box;
 font-family:fuente-BONITA;
 }
 .itemcarrouseltarjeta{
	 position:relative;
 width:100%;
 height:100%;
 box-sizing:border-box;
 } 
 .itemcarrouselarrows{
	 position:absolute;
	 top:0;
	 bottom:0;
	 left:0;
	 right:0;
	 height:100%;
	 width:100%;
	 display:flex;
	 align-items:center;
	 justify-content:space-between;
	 padding:20px;
	 box-sizing:border-box;
	 font-family:fuente-BONITA;
 }
 .intemcarrouselarrows>i:hover{
	 cursor:pointer;
 }
 .itercarrouselcontroller{
	 width:100%;
	 display:flex;
	 justify-content:space-evenly;
 }
 .contecarrouselcontroller<a{
	 text-decoration:none;
	 font-size:32px;
	 color:grey;
 }
 .itemcarrouselarrows>a>i{
	 color:white;
 }
 /*cajas para productos*/
 .caja{
	 height:300px;
	 width:250px;
	 background:#eee;
	 border:1px solid #eee;
	 margin:5px;
     color:black;
     text-align:center;
	 display:inline-block;
 }
 .caja:hover{
	 box-shadow:0 0 10px red;
     transform:scale(1.3);
 }
 .caja-texto{
	 padding-top:5px;
	 padding-bottom:5px;
	 font-size:20px;
	 color:green;
	 font-weight:bold;
	 font-family:fuente-BONITA;;
 }
 .texto-adicional{
  padding-top:5px;
  font-size:15px; 
 }
 div#negocio{
	width:44%;
	font-family:fuente-royal;
	height:160px;
	background-image:conic-gradient(#EDD1CB,#EDD1CB);
		text-decoration:none;
	font-size:20px;
	color:black;
	}
	/*Menu de navegacion*/
	.navegacion{
		display:flex;
		height:100px;
	}
	.navegacion-item{
		flex:1;
		color:#fff;
		font-weight:bold;
		font-size:15px;
		display:flex;
		transition: flex-grow 0.2s;
		justify-content:center;
		align-items:center;
	}
	.navegacion-titulo{
		margin:0;
		transform:rotate(-90deg);
		transition:transform 0.2s 0.2s;
		font-size:15px;
	}
	.navegacion-item:hover{
		flex-grow:10;
	}
	.navegacion-item:hover .navegacion-titulo{
		transform:rotate(0);
	}
	.navegacion-item:nth-child(1){
		background:#9F72A5;
	}
	.navegacion-item:nth-child(2){
		background:#BA88C1;
	}
	.navegacion-item:nth-child(3){
		background:#DCA2E5;
	}
	.navegacion-item:nth-child(4){
		background:#F5B4FE;{
			
	 }
	.cuadro{
		text-align:center;
		display:flex;
		border:5px solid #ccc;
		padding:50px;
		max-width:1500px;
		background-color:#BA88C1;
	}
	.Imagenes{
		width:150px;
		height:150px;
		background-image:url(../imagenes/logo.jpg);
		background-size:cover;
		background-position:center;
		margin-right:20px;
	}
	.texto{
		font-size:25px;
	}
	.navegacion-items{
		display:flex;
		justify-content:center;
		align-items:center;
	}
		
	@font-face{
		font-family:fuente-royal;
		src: url(../fuentes/ROYAL Hefana.otf);
		
	}
	@font-face{
		font-family:fuente-BONITA;
		src: url(../fuentes/BONITA.otf);
	}
	@font-face{
		font-family:fuente-Titulo;
		src: url(../fuentes/Titulo.ttf);